body {
  background-color: #dfdfdf;
}
.content-wrapper {
  display: flex;
}
.product-img {
  padding: 5px;
}
.product-img > img {
  width: 200px;
  height: 200px;
}
.product-wrapper {
  margin: 20px;
  flex: 7;
  background-color: white;
  padding: 10px;
}
.product-wrapper > h2 {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.product {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}
.discount {
  padding: 3px;
  color: white;
  background-color: rgb(223, 9, 9);
  width: 80px;
  text-align: center;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 20px;
}
.product-name {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 0;
  margin-left: 20px;
  width: 100%;
}
.product-price {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 0;
  margin-left: 20px;
  width: 100%;
}
.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.action {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 86px;
  margin-left: 20px;
  align-items: center;
}
.quantity {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.action > a {
  text-decoration: none;
  color: #0066c0;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #ccc;
}
.total-price {
  width: 100%;
  text-align: right;
  font-size: 20px;
}
.total-price > span {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

  .sidebar {
    flex: 2;
    background-color: white;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .sb-txt{
    font-size: 12px;
    padding: 10px;
    margin: 0;
    
    /* margin-left: 20px; */
  }

  .sb-txt >span{
    color: green;
  }

.sb-total{
  font-size: 20px;
  padding: 10px;
  margin: 0;
  /* margin-left: 20px; */
  width: 100%;
}
.sb-total>span{
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}
.checkout-btn{
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
.checkout-btn > button{
  height: 30px;
  width:100%;
  border: 0;
  background: #FFD814;
  border-color: #FCD200;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.checkout-btn > button:hover{
  background-color: #FCD200;
  cursor: pointer;
}