* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  background-color: rgba(161, 214, 214, 0.8);
}
nav {
  background-color: #131921;
  height: 60px;
  display: flex;
}
.logo {
  text-align: center;
  flex: 1;
  align-self: center;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo:hover {
  cursor: pointer;
  border: 2px solid gray;
}
.amazon-logo {
  height: 30px;
}
.location {
  margin-left: 10px;
  flex: 1;
  display: flex;
  align-items: center;
}
.loc-icon {
  margin-right: 5px;
}
.loc {
  color: white;
}
.address {
  display: block;
}
.address > span {
  color: white;
}
.address > p {
  color: white;
  margin: 0;
}
.search {
  width: 100%;
  height: 40px;
  flex: 7;
  display: flex;
  align-self: center;
}
.search-form {
  display: flex;
  width: 100%;
  margin: 0;
}
.search-inp {
  margin: 0;
  width: 100%;
  border: none;
  padding: 0 10px;
  font-size: medium;
}
.search-inp:focus {
  outline: none !important ;
  text-decoration: none;
}
.search-form > button {
  border: none;
  width: 7%;
  font-size: larger;
  background-color: #febd69;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.search-form > button:hover {
  opacity: 0.9;
}
.search > select {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 8%;
  text-align: center;
  height: 100%;
  border: none;
  background-color: #e6e6e6;
}
.search > select > option {
  width: auto;
}
.lang {
  display: flex;
  flex: 1;
  color: white;
  place-items: center;
  justify-content: center;
}
.lang > img {
  width: 25px;
  height: 16px;
  margin-right: 5px;
}
.account {
  flex: 1.2;
  color: white;
  align-self: center;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.your-account {
  position: absolute;
  right: 8%;
  top: 9%;
  border: none;
  border-radius: 2px;
  background-color: white;
  width: 200px;
  /* height: 300px; */
  height: auto;
  /* transition: all 2s ease-in-out; */
  display: none;
  margin: 0;
}
/* Media query for larger screens */
@media (min-height: 768px) {
  .your-account {
    top: 6%; /* Adjust the height for larger screens */
  }
}

/* Media query for even larger screens */
@media (min-height: 1024px) {
  .your-account {
    top: 5%; /* Adjust the height for even larger screens */
  }
}
@media (min-height: 600px) {
  .your-account {
    top: 5%; /* Adjust the height for even larger screens */
  }
}

.menu {
  display: flex;
  transition: all 2s ease-in-out;
  flex-direction: column;
  z-index: 999;
}
.menu > h2 {
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.menu > button {
  background: none;
  border: none;
  height: 30px;
}
.menu > button:hover {
  background: #f4e7d3;
  text-decoration: underline;
  cursor: pointer;
}
.account:hover {
  cursor: pointer;
  border: 2px solid gray;
}
.cart {
  height: 90%;
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
  cursor: pointer;
}
.cart:hover {
  cursor: pointer;
  border: 2px solid gray;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: center;
}
.icon > p {
  position: absolute;
  margin: 0;
  color: rgb(255, 119, 1);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 3px;
  padding-left: 4px;
}
.cart > p {
  color: white;
  margin: 0;
  text-align: center;
  text-align: center;
  align-self: center;
  margin-left: 10px;
}
.shoppingcart {
  color: white;
  font-size: xx-large;
}
.bellow-nav {
  height: 40px;
  background-color: #232f3e;
  display: flex;
  color: white;
  align-items: center;
  padding-left: 20px;
}

.bellow-nav > div {
  margin-right: 10px;
}
.bellow-nav > div:hover {
  cursor: pointer;
  color: cadetblue;
}
.all > i {
  margin-right: 5px;
}

.carousel-container {
  position: absolute;
  z-index: -1;
}
.carrousel-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.carrousel-img {
  max-width: 90%;
  height: auto;
  min-height: 500px;
}

#prevBtn,
#nextBtn {
  margin-top: 10px;
  cursor: pointer;
  position: absolute;
  top: 8%;
  height: 70px;
  width: 40px;
  background: none;
  border: none;
  font-size: 20pt;
  color: white;
}

#prevBtn {
  left: 0;
}
#nextBtn {
  right: 0;
}
#prevBtn:hover,
#nextBtn:hover {
  mix-blend-mode: color-burn;
}
.product-cat-container {
  /* margin-top: 200px; */
  width: 100%;
  position: absolute;
  top: 50%;
}
.product-cat-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
}

.product-cat-wrapper > div {
  background-color: white;
  height: 400px;
  width: 300px;
  text-align-last: center;
  cursor: pointer;
}

.product-cat-wrapper > div > img {
  object-fit: cover;
  height: 70%;
  width: 90%;
  align-self: center;
}
