<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'style/navbar.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'style/product.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div onclick="location.assign('/')" class="logo">
        <img
          class="amazon-logo"
          src="{{ url_for('static', filename = 'assets/amazon1.png') }}"
          alt=""
        />
      </div>
      <div class="location">
        <div class="loc-icon"><i class="fas fa-map-marker-alt loc"></i></div>
        <div class="address">
          <span style="color: rgb(158, 157, 157); font-size: small"
            >Deliver to</span
          >
          <p>France</p>
        </div>
      </div>
      <div class="search">
        <select name="category" id="">
          <option value="All">All</option>
          <option value="Tech">Tech</option>
          <option value="Furniture">Furniture</option>
        </select>
        <form action="" class="search-form">
          <input class="search-inp" type="search" name="search" id="" />
          <button><i class="fas fa-search"></i></button>
        </form>
      </div>
      <div class="lang">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/US_flag_51_stars.svg/2560px-US_flag_51_stars.svg.png"
          alt=""
        /><span>EN</span>
      </div>
      <div id="yourAccount" class="account"><span>Your Account</span></div>
      <div class="cart">
        <div class="icon">
          <p>0</p>
          <i class="fas fa-shopping-cart shoppingcart"></i>
        </div>
        <p>Cart</p>
      </div>
    </nav>
    <div id="yourAccountMenu" class="your-account">
      <div class="menu">
        <h2>Profile</h2>
        <button>Profile</button>
        <button>Orders</button>
        <button onclick="location.assign('/logout')">Logout</button>
      </div>
    </div>
    <div class="bellow-nav">
      <div class="all"><i class="fas fa-bars"></i>All</div>
      <div class="todays-deals">Today's Deals</div>
      <div class="customer-service">Customer Service</div>
      <div class="registry">Registry</div>
      <div class="gift-cards">Gift Cards</div>
      <div class="sell">Sell</div>
    </div>
    <p class="back" onclick="history.back()">< back to results</p>
    <div class="content-wrapper">
      <div class="image">
        <ul>
          <li><img src="{{product.img_address}}" alt="" /></li>
        </ul>
        <img src="{{product.img_address}}" alt="" />
      </div>
      <div class="product-info">
        <h2>{{product.title}}</h2>
        <img
          src="https://www.bebolddigital.com/hs-fs/hubfs/ACBadge_1900px.png?width=1902&height=360&name=ACBadge_1900px.png"
          alt=""
        />
        <span>1K+ bought in past month</span>
        <div class="price">
          <div class="current-price-wrapper">
            <p class="discount">-20%</p>
            <p class="current-price">{{ (product.price*0.8)|round(2) }}$</p>
          </div>
          <p class="old-price">last price: {{product.price}}$</p>
        </div>
        <div class="description">
          <p class="about">About this item</p>
          <p>{{product.description}}</p>
        </div>
      </div>
      <div class="action-sidebar">
        <div class="sidebar-price">
          <span>Buy New: </span>
          <input type="radio" name="" id="" checked />
          <p>{{(product.price*0.8)|round(2)}}$</p>
        </div>
        <p class="sidebar-text-gray">
          No Import Fees Deposit & $18.38 Shipping to France
        </p>
        <p class="sidebar-delivery">
          Delivery <span> Friday, October 20.</span> Order within
          <span> 7 hrs 53 mins </span>
        </p>
        <p class="sidebar-delivery-2">
          Or fastest delivery <span> Monday, October 16 </span>
        </p>
        <p class="sidebar-delivery-2">Deliver to France</p>
        <h3>In Stock</h3>
        <div class="action">
          <select name="quantity" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <form action="">
            <button class="addtocart-btn">Add to Cart</button>
          </form>
          <form action="">
            <button class="buynow-btn">Buy Now</button>
          </form>
        </div>
        <p class="last-part"><span>Payment</span> Secure Transaction</p>
        <p class="last-part"><span>Amazon Delivered</span> Warranty</p>
        <p class="last-part"><span>Ships From</span> Amazon.com</p>
      </div>
    </div>
  </body>
</html>
